body {
  background-color: rgb(141, 250, 250);
}

button {
  padding: 10px;
  border-radius: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  margin: 10px 20px 30px 20px;
}

#poke1 {
  background-color: rgb(106, 206, 111);
  color: white;
}

#poke2 {
  background-color: rgb(216, 117, 100);
  color: white;
}

#fight {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

#poke {
  margin-top: 5%;
  /* margin-left: 200px; */
}

ul {
  display: flex;
  flex-direction: row;
  gap: 65px;
}
